* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.chat-container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ece5dd;
}

.chat-header {
  background-color: #075e54;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}

.trash-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.header-info {
  flex-grow: 1;
}

.chat-messages {
  max-height: 82vh;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.message.incoming {
  justify-content: flex-start;
}

.message.outgoing {
  justify-content: flex-end;
}

.message-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;
}

.incoming .message-bubble {
  background-color: white;
  border-bottom-left-radius: 5px;
}

.outgoing .message-bubble {
  background-color: #dcf8c6;
  border-bottom-right-radius: 5px;
}

.timestamp {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  text-align: right;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 800px;
  background: #ece5dd;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.message-input {
  width: 700px;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.send-button {
  padding: 10px 15px;
  font-size: 14px;
  margin-left: 5px;
  background-color: #075e54dd;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.send-button:hover {
  background-color: #075e54;
}

@media (max-width: 800px) {
  .message-input {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .chat-container {
    max-width: 100%;
  }

  .message-bubble {
    max-width: 80%;
  }

  .message-input {
    width: 450px;
  }
}

@media (max-width: 540px) {
  .message-input {
    width: 300px;
  }
}

/* @media (max-width: 395px) {
  .message-input {
    width: 190px;
  }
} */

@media (max-width: 400px) {
  .message-input {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .message-input {
    width: 220px;
  }
}

@media (max-width: 280px) {
  body {
    height: 80vh;
  }

  .message-bubble {
    padding: 8px 12px;
    font-size: small;
  }

  .send-button {
    font-size: 12px;
    padding: 8px 10px;
  }

  .message-input {
    padding: 8px;
    font-size: 12px;
  }
}
